<template name="login">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="page-header">Login</h4>
            <form id="login" class="login">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label for="password"><span class="pull-left">Password</span> <a class="pull-right" href="">Forgot Password?</a></label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Login">
                </div>
            </form>
            <p>Don't have an account? <a href="">Sign Up</a>.</p>
        </div>
    </div>
</template>
